h1{
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 30px;
  margin-top: 50px;
}

img{
  margin-left: 70px;
}

#boton_login{
  margin-left: 140px;
}

#boton_register{
  margin-top: 40px;
  margin-left: 130px;
}

#boton_facebook{
  margin-top: 40px;
  margin-left: 75px;
}